<!DOCTYPE html>
<html>
  <head>
    <title>RailsPhotoGallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class='navbar fixed-top' data-controller="navbar" data-action="mouseover->navbar#updateNavbar">
      <div class='navbar-logo'>
        <%= image_tag('tbp-high-resolution-logo-white-on-transparent-background.png', class:"logo")  %>
      </div>
      <div class="navbar-burger">
        <!-- %= link_to "About", page_path(:about) %-->
        <h2>burger menu</h2>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
