<!DOCTYPE html>
<html>
  <head>
    <title>RailsPhotoGallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class='navbar'>
      <div class='navbar-logo'>
        <%= image_tag('tbp-high-resolution-logo-white-on-transparent-background.png') %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
